/* === START GUIDELINES PAGE === */
.report-main {
  box-sizing: content-box;
  margin-bottom: 205px;
  margin-left: 260px;
  margin-top: 42px;
}
.report-div {
  box-sizing: border-box;
  width: 1000px;
}
.report-instruction {
  margin-top: 10px;
  font-size: 18px;
}
.report-download-links {
  display: flex;
  margin: 20px 20px;
  justify-content: center;
}
.report-download-links a {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  margin: 50px 50px;
  color: var(--light-clr);
  /* border: 1px solid #008000; */
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--primary-clr);
  transition: color 0.5s, background-color 0.5s;
}
.report-download-links a:hover {
  color: var(--primary-clr);
  background-color: var(--light-clr);
}
/* === END GUIDELINES PAGE === */
