/* START MAIN */
main .container {
  padding-top: var(--padding-top-100);
  padding-bottom: var(--padding-bottom-100);
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}
main .container img {
  max-height: 200px;
}
main .container img.IEEE {
  max-height: 150px;
}

/* END MAIN */
