.background-img-5 {
  top: 20%;
  right: 10% !important;
}
.background-img-6 {
  top: 60%;
  right: 3% !important;
}
.background-img-7 {
  top: 100%;
  right: 10% !important;
}
.background-img-8 {
  top: 140%;
  right: 3% !important;
}
